.content-wraper {
  height: 660px;
  max-width: 625px;
  width: 60%;
  background-color: red;
  margin-right: 50px;
  margin-left: 30px;
}

.main-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
